* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/wp4658649-board-games-wallpapers.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeats;
}

.container{
    background-color: rgb(255, 255, 255);
    padding: 50px 85px;
    border-radius: 10px;
}

button {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.result{
    font-size: 25px;
    color:red;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

h1{
    font-size:30pt;
    margin-bottom: 30px;
    position: relative;
    left :39px;
}

.colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.blink {
    opacity: 0.2;
}

.red {
    background-color: rgb(135, 13, 13);
    border: none;
}

.blue {
    background-color: rgb(56, 14, 95);
    border: none;
}

.yellow {
    background-color: rgb(114, 114, 27);
    border: none;
}

.green {
    background-color: rgb(40, 59, 40);
    border: none;
}

